*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #d6e2e1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    & .nav-bar{
        display: flex;
        flex-direction: row;
        padding: 1.5rem;
        gap: 2rem;
        justify-content: space-evenly;
        height: 60px;
        align-items: center;
        background: #0e0324;
        flex-wrap: wrap;
        padding: 5px;

        & .logo{
            max-height: 3rem;
            max-width: 8rem;
            color: white;
            font-weight: 700;
            background: #0e0324;        
        }
        & .nav{
            & ul{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 2rem;
                list-style: none;
                background: #0e0324;

                & li a{
                    text-decoration: none;
                    font-weight: 600; 
                    background: #0e0324;
                    color: white;                 
                }
            }
        }
        & .contact{
            padding: 3px;
            align-items: center;
            color: white;
            background: #5629b1;
            border: 0px;
            font-size: 15px;
            width: 80px;
            border-radius: 20px;
            font-weight: 600;
        }
    }    
        
    }
